*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ovo', serif;
    font-size: 18px;
    color: gray;
    /* max-width: 1490px; */
}

.menuActive{
    color: orangered;
    border-bottom: 2px solid orangered;
    font-weight: bold;
}

.navbar-brand{
    font-size: 200%;
    color: #3498db;
}

.content{
    height: 75vh;
    display: flex;
    align-items: center;
    margin: 0;
}

.btnGetStarted{
    border-radius: 50px;
    width: 30%;
    background-color: transparent;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #3498db;;
    border: 2px solid#3498db;
    font-weight: bold;
    font-size: 100%;
    transition: 1s;
    text-decoration: none;
}

.btnGetStarted:hover{
    background-color: #3498db;
    color: white;
}

#header{
    height: 70vh;
    margin-top: 10px;
}

#header h1{
    color: black;
    font-size: 250%;
    font-weight: 500;
    margin-top: 10px;
}

#header h2{
    font-size: 100%;
    color: #484848;
}

#header-img{
    text-align: right;
}

.companyName{
    color: #3498db;
    font-size: 100%;
    font-weight: 500;
}

.animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
    0% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
}

@keyframes up-down {
    0%{
        transform: translateY(15px);
    }

    100%{
        transform: translateY(-15px);
    }
}

.cardCon{
    width: 25%;
}

.cardsImg{
    width: 100%;
    height: 30vh;
}


.contactForm label{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.footer{
    font-size: 60%;
    color: gray;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: center;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 400px )and (max-width:767px) { 
    #header h1{
       font-size: 155%;
       text-align: center; 
    }

    #header h2{
        font-size: 100%;
     }
     
    .leftSection{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .menuActive{
        border-bottom: none;
    }

    .navbar{
        justify-content: space-around;
    }

    .navbar-nav{
        padding-left: 20px;
    }

    .btnGetStarted{
        width: 40%;
    }
    .img-fluid{
        max-width: 320px;
    }

    .btnPosition{
        display: flex;
        justify-content: center;
    }

 }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:967px) { 
  
    #header h1{
        font-size: 190%;
    }

    .menuActive{
        border-bottom: none;
    }

    .menuActive{
        border-bottom: none;
    }

    .btnGetStarted{
        width: 40%;
    }

    .card-body{
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
    }
   

 }
/* Large devices (desktops, 992px and up) */
@media (min-width: 968px) { 
    .card-body{
        min-height: 240px;
        max-height: 240px;
    }
 }
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1193px) { 
    .card-body{
        min-height: 209px;
    }
 }
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .card-body{
        min-height: 230px;
    }
 }